html {
  box-sizing: border-box;
  background: #ca0f08;
  font-family: "helvetica neue";
  font-size: 3em;
  font-weight: 700;
}

h1 {
  padding-top: 88px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}
