@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");

html {
  box-sizing: border-box;
  background: #fff;
  font-family: "Ubuntu";
  font-size: 3em;
  font-weight: 700;
}

h1 {
  padding-top: 88px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  color: #000;
}

.logo__standard {
  display: block;
  transform: translateY(50%);
  margin: auto;
}

.logo__gif {
  display: none;
  transform: translateY(50%);
  margin: auto;
}

.active {
  display: block;
}

.hidden {
  display: none;
}
